{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h>My Name Is : Mahmoud Ahmed Mahmoud</h>
    <h1>Welcome To My First Page </h1>
    <p>This is a sample PHP application deployed to Heroku.</p>
    <p2>Thank You For your visit.</p2>
    
  </div>
</div>


{% endblock %}
